.loginH1 {
  color: #5ab946;
}

.loginFormContainer {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.loginFormGroup {

}

.loginFormElements {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginFormInput {
  padding: 0.5rem 0.7rem;
  background-color: rgb(222, 229, 235);
  margin-left: 45px;
  width: 300px;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 50px;
}

.loginFormInput:focus {
  margin-left: 45px;
  width: 300px;
  height: 30px;
  border: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 50px;
  border-color: gray;
}

.loginCheckbox {
  margin-right: 10px;
}

.loginButton {
  border: 0;
  width: 5vw;
  height: 4vh;
  border-radius: 20px;
  color: white;
  background-color: dodgerblue;
}
.loginButton:hover {
  cursor: pointer;
  border: 0;
  width: 5vw;
  height: 4vh;
  border-radius: 20px;
  color: white;
  background-color: blue;
}

.loginAnker {
  color: dodgerblue;
  font-size: small;
}

.loginButtonAnker {
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.loginError {
  margin-left: 45px;
  color: #111;
  background-color: tomato;
}