.body {
    position: absolute;
    top: 17vh;
    right: 10vw;
    width: 80%;
    height: 65vh;
    margin: 0 auto 10vh;
    text-align: left;
    background-color: #E8F9FD;
    padding: 0 1.5em 1em;
    font-size: 1.2rem;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tabhead {
    position: static;
    font-size: 0.8rem;

}

.tabContent {
    margin-top: 0.4em;
    font-size: 0.8rem;
}

.tabContenthead {
    width: 92.5%;
}

.indicesBody {
    display: flex;
    flex-direction: row;
}

.info {
    text-align: left;
    min-width: 45%;
    padding: 1em;
    background-color: white;
    box-sizing: border-box;
    margin-right: 1em;
}

.charts {
    text-align: center;
    width: 57.5em;
    height: 32.5em;
    background-color: white;
    box-sizing: border-box;
    font-size: 0.6rem;
    padding-top: 5em;
    
}

.heading4 {
    padding-top: 12px;
    border-top: 4px solid #7FB5FF;
}